{#- Pestañas con desplegable: muestra los subapartados de una sección al pasar el ratón. -#}
{% macro icon_for(title) %}
  {% set icons = config.extra.nav_icons or {} %}
  {% if title in icons %}
    <span class="twemoji md-tabs__icon" style="display:inline-block;width:1.05em;height:1.05em;vertical-align:-.18em">{% include ".icons/" ~ icons[title] ~ ".svg" %}</span>
  {% endif %}
{% endmacro %}
{% macro render_content(nav_item, ref) %}
  {% set ref = ref or nav_item %}
  {{ icon_for(ref.title) }}{{ ref.title }}
{% endmacro %}
{% macro render_dropdown(nav_item) %}
  <ul class="md-tabs__dropdown">
    {% for child in nav_item.children %}
      {% if child.children %}
        <li class="md-tabs__dropdown-group">{{ child.title }}</li>
        {% for sub in child.children %}
          <li><a href="{{ sub.url | url }}" class="md-tabs__dropdown-link{% if sub.active %} md-tabs__dropdown-link--active{% endif %}">{{ icon_for(sub.title) }}{{ sub.title }}</a></li>
        {% endfor %}
      {% else %}
        <li><a href="{{ child.url | url }}" class="md-tabs__dropdown-link{% if child.active %} md-tabs__dropdown-link--active{% endif %}">{{ icon_for(child.title) }}{{ child.title }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
{% endmacro %}
{% macro render(nav_item, ref) %}
  {% set ref = ref or nav_item %}
  {% set class = "md-tabs__item" %}
  {% if ref.active %}
    {% set class = class ~ " md-tabs__item--active" %}
  {% endif %}
  {% if nav_item.children %}
    {% set first = nav_item.children | first %}
    <li class="{{ class }} md-tabs__item--dropdown">
      <a href="{{ first.url | url }}" class="md-tabs__link" aria-haspopup="true">
        {{ render_content(first, ref) }} <span class="md-tabs__caret" aria-hidden="true">▾</span>
      </a>
      {{ render_dropdown(nav_item) }}
    </li>
  {% else %}
    <li class="{{ class }}">
      <a href="{{ nav_item.url | url }}" class="md-tabs__link">
        {{ render_content(nav_item) }}
      </a>
    </li>
  {% endif %}
{% endmacro %}
